{% extends "layout2.html" %}
{% block styles %}
<link rel="stylesheet" href="/static/multiselect-easy/easySelectStyle.css" />
{% endblock %}
{% block contenidoprincipal %}
<div class="row">
    <h2 class="d-none display-12  texto-rojoraro">Contacto</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 d-none">
            <div
                class="d-flex justify-content-center align-items-center p-3 my-3 text-black bg-purple rounded shadow-sm">
                <h2 class="display-12  texto-rojoraro">Buscar</h2>
            </div>
        </div>
        <div class="col-12 mb-2">
            <p>
                <a class="btn btnfiltro w-100" data-toggle="collapse" href="#collapseExample" role="button"
                    aria-expanded="true" aria-controls="collapseExample">
                    RÁPIDA
                </a>
            </p>
            <div class="collapsed" id="collapseExample">
                <div class="card card-body border border-dark">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="form-group">
                                <label class="font-weight-bold" for="codsnip">Código SNIP</label>
                                <input class="form-control" type="text" id="codsnip" placeholder="Ingrese algún código">
                            </div>

                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="form-group">
                                <label class="font-weight-bold" for="codcontrado">Código de Contrato</label>
                                <input class="form-control" type="text" id="codcontrado"
                                    placeholder="Ingrese algún código de contrato">
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold" for="codproyectoinvpublica">Código de Proyecto de
                                    Inversión Pública</label>
                                <input class="form-control" type="text" id="codproyectoinvpublica"
                                    placeholder="Ingrese la descipción de algún objeto">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="form-group">
                                <label class="font-weight-bold" for="codconvocatoria">Código de convocatoria </label>
                                <input class="form-control" type="text" id="codconvocatoria"
                                    placeholder="Ingrese algún código único de inversión ">
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-12 mb-2">
            <p>
                <a class="btn btnfiltro w-100" data-toggle="collapse" href="#collapseExample2" role="button"
                    aria-expanded="false" aria-controls="collapseExample2">
                    AVANZADA
                </a>
            </p>
            <div class="collapse" id="collapseExample2">
                <div class="card card-body border-dark">
                    <div class="row">
                        <div class="col">
                            <label class="font-weight-bold" for="codsnip">Busqueda avanzada de Contratos</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="form-group">
                                <label class="font-weight-bold" for="codsnip">Sector:</label>
                                <select id="secotoresopcion" class="form-control" >
                                    <option value="">Ninguno</option>
                                    {{opcionessectoreshtml|safe}}
                                </select>

                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <label class="font-weight-bold">Rango de Fecha:</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label class="font-weight-bold" for="fechaInicio">Inicio</label>
                                        <div class="input-group mb-3">

                                            <input type="date" id="fechaInicio" class="form-control"
                                                placeholder="Username" aria-label="Inicio"
                                                aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="font-weight-bold" for="fechaFin">Fin</label>
                                        <div class="input-group mb-3">

                                            <input type="date" id="fechaFin" class="form-control" placeholder="Username"
                                                aria-label="Fin" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="form-group">
                                <label class="font-weight-bold" for="codsnip">Entidad contratante:</label>
                                <input type="text" id="entidadcontratante" class="form-control" placeholder="Entidad contratista-Proveedor"
                                                aria-label="Entidad contratante" aria-describedby="basic-addon1">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <label class="font-weight-bold" for="nombreentidad">Rango de Monto del
                                            contrato:</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label class="font-weight-bold" for="monotMin">Mínimo</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">S/</span>
                                            </div>
                                            <input type="number" id="monotMin" class="form-control" placeholder="Mínimo"
                                                aria-label="Mínimo" aria-describedby="basic-addon1" min="0" max="1000000">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label class="font-weight-bold" for="monotMax">Máximo</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">S/</span>
                                            </div>
                                            <input type="number" id="monotMax" class="form-control" placeholder="Máximo"
                                                aria-label="Máximo" aria-describedby="basic-addon1" min="0" max="1000000">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="form-group">
                                <label class="font-weight-bold" for="codsnip">Entidad contratista-Proveedor:</label>
                                <input type="text" id="entidadcontratista" class="form-control" placeholder="Entidad contratista-Proveedor"
                                                aria-label="Máximo" aria-describedby="basic-addon1">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mb-2">
            <div class="row w-100 d-flex justify-content-center" id="bsucarp">
                <div id="btnbuscar" class="col-sm-6 border  border-dark btnbuscar text-center rounded" >
                    <h3>Buscar</h3>
                </div>
            </div>


        </div>

    </div>
</div>
{% endblock %}
{% block contenidosecundario %}
<div class="col-12 mb-4">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 ">
                    <h4>
                        Registros máximos para proyectos y contratos:
                        <select name="cantidad" id="cantidad">
                            <option value="10">10</option>
                            <option value="20" selected>20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>                            
                            <option value="100">200</option>                            
                        </select> 
                    </h4> 
                                      
                </div>
            </div>
            <div class="row ">
                
                <div class="col-md-4 d-flex justify-content-around align-items-center">
                    <h3>
                        Resultados de la búsqueda
                    </h3>                    
                </div>
                
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-around" id="elementosbsuqueda">
        
    </div>
</div>





{% endblock %}

{% block scripts %}

<script>
    $('#collapseExample').collapse()
    $('#codsnip').val();
    $('#nombreentidad').val();
    $('#codcontrado').val();
    $('#descripobjeto').val();
    $('#codinversion').val();
    $('#identificonvoca').val();
    //https://www.cssscript.com/single-multi-select-vanilla/
    /*
    codsnip
    nombreentidad
    codcontrado
    descripobjeto
    codinversion
    identificonvoca
    */

</script>
<script src="/static/multiselect-easy/easySelect.js"></script>
<script>
    /*
    $(".demo3").easySelect({
        buttons: true, // 
        search: true,
        placeholder: 'Seleccione opción',
        placeholderColor: 'green',
        selectColor: '#524781',
        itemTitle: 'Opciones',
        showEachItem: true,
        width: '80%',
        dropdownMaxHeight: '450px',
    });*/
    
    //#Búsqueda básica

    buscar();
    $('#btnbuscar').click(function(){
        k={
                CodigoProyectoInversionPublica: $("#codproyectoinvpublica").val(),
                CodigoSNIP: $("#codsnip").val(),
                CodigoConvocatoria: $("#codconvocatoria").val(),
                NombreContratista: $("#entidadcontratista").val(),
                NombreContratante: $("#entidadcontratante").val() ,
                CodigoContrato: $("#codcontrado").val(),
                MontoTotalContratoMinimo: $("#monotMin").val(),
                MontoTotalContratoMaximo: $("#monotMax").val(),
                FechaInicioContrato: $("#fechaInicio").val(),
                FechaFinContrato: $("#fechaFin").val(),
                NombreSector: $("#secotoresopcion").val(),
                NumeroResultado:$("#cantidad").val(),
                    }        
        buscar()
    });
    
       
  
    function buscar() {
        LINK ='https://apidscpruebassegundo.herokuapp.com'
        spinner_html = `

        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>`
        $('#elementosbsuqueda' ).html(spinner_html);  

            $.ajax({                
            
            type : "POST",
            //url  : "http://127.0.0.1:4000/buscador-basico",
            url  : LINK+"/buscador-basico",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',            
            data: JSON.stringify({
                CodigoProyectoInversionPublica: $("#codproyectoinvpublica").val(),
                CodigoSNIP: $("#codsnip").val(),
                CodigoConvocatoria: $("#codconvocatoria").val(),
                NombreContratista: $("#entidadcontratista").val(),
                NombreContratante: $("#entidadcontratante").val() ,
                CodigoContrato: $("#codcontrado").val(),
                MontoTotalContratoMinimo: $("#monotMin").val(),
                MontoTotalContratoMaximo: $("#monotMax").val(),
                FechaInicioContrato: $("#fechaInicio").val(),
                FechaFinContrato: $("#fechaFin").val(),
                NombreSector: $("#secotoresopcion").val(),
                NumeroResultado:$("#cantidad").val(),
                //NumeroResultado:"5",
                    }),     
        }).done(function(response){   
            $('#elementosbsuqueda' ).html('');     
            let s_response  = response
            let jsonData = JSON.parse(s_response);
            CONTRATOS = jsonData['CONTRATOS']
            PROYECTOS = jsonData['PROYECTOS']
            var contrato_template =`
            <div class="col-12 mt-2" name-div="Contrato">
    <div class="card">
        <h5 class="card-header text-center">Título de proyecto</h5>
        <div class="card-body resultado">
            <div class="row">
                <div class="col">
                    <div class="form-group ">
                        <label class="font-weight-bold " >
                            <h2>Tipo de Tarjeta: Contrato</h2>                            
                        </label>                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                        <label class="font-weight-bold" >Código de contrato</label>
                        <input type="text"  class="form-control" placeholder="Máximo"  aria-label="Máximo" aria-describedby="basic-addon1" value="@CodigoContrato" disabled>
                    </div>
                    <div class="form-group ">
                        <label class="font-weight-bold" >Fecha de inicio</label>
                        <input type="text" class="form-control" placeholder="Máximo"  aria-label="Máximo" aria-describedby="basic-addon1" value="@FechaInicio" disabled>
                    </div>
                    <div class="form-group ">
                        <label class="font-weight-bold" >Sector</label>
                        <input type="text"  class="form-control" placeholder="Máximo"  aria-label="Máximo" aria-describedby="basic-addon1" value="@NombreSector" disabled>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="form-group ">
                        <label class="font-weight-bold" >Entidad Pública Contratante</label>
                        <input type="text"  class="form-control" placeholder="Máximo"  aria-label="Máximo" aria-describedby="basic-addon1" value="@EntidadPublica" disabled>
                    </div>
                    <div class="form-group ">
                        <label class="font-weight-bold" >Fecha Fin</label>
                        <input type="text"  class="form-control" placeholder="Máximo"  aria-label="Máximo" aria-describedby="basic-addon1" value="@FechaFin" disabled>
                    </div>
                    <div class="form-group ">
                        <label class="font-weight-bold">Número de contrato</label>
                        <input type="text"  class="form-control" placeholder="Máximo"  aria-label="Máximo" aria-describedby="basic-addon1" value="@NumeroContrato" disabled>
                    </div>

                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="form-group ">
                        <label class="font-weight-bold" >Entidad Contratista-Proveedor</label>
                        <input type="text"  class="form-control" placeholder="Máximo"  aria-label="Máximo" aria-describedby="basic-addon1" value="@Proveedor" disabled>
                    </div>
                    <div class="form-group ">
                        <label class="font-weight-bold" >Monto Contratado</label>
                        <input type="text"  class="form-control" placeholder="Máximo"  aria-label="Máximo" aria-describedby="basic-addon1" value="@MontoContrato" disabled>
                    </div>
                    <div class="form-group ">
                        <label class="font-weight-bold"  >Fecha de Suscripción de Contrato</label>
                        <input type="text"  class="form-control" placeholder="Máximo"  aria-label="Máximo" aria-describedby="basic-addon1" value="@FechaSuscripcion" disabled>
                    </div>
                </div>
                <div class="col-12 text-center d-none">
                    <button type="button" class="btn btn-secondary btn-lg">Ver detalle</button>
                </div>
            </div>
        </div>

    </div>
</div>
`; 
            var proyecto_template = `
            <div class="col-12 mt-2" name-div="Proyecto">
    <div class="card">
        <h5 class="card-header text-center">Título de proyecto</h5>
        <div class="card-body resultado">
            <div class="row">
                <div class="col">
                    <div class="form-group ">
                        <label class="font-weight-bold " >
                            <h2>Tipo de Tarjeta: Proyecto</h2>                            
                        </label>                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="form-group">
                        <label class="font-weight-bold" >Código de Único:</label>
                        <input type="text"  class="form-control" placeholder="Máximo"  aria-label="Máximo" aria-describedby="basic-addon1" value="@CodigoUnico" disabled>
                    </div>
                    <div class="form-group ">
                        <label class="font-weight-bold" >Departamento:</label>
                        <input type="text" class="form-control" placeholder="Máximo"  aria-label="Máximo" aria-describedby="basic-addon1" value="@Departamento" disabled>
                    </div>
                    <div class="form-group ">
                        <label class="font-weight-bold" >Función:</label>
                        <input type="text"  class="form-control" placeholder="Máximo"  aria-label="Máximo" aria-describedby="basic-addon1" value="@Funcion" disabled>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="form-group ">
                        <label class="font-weight-bold" >Nombre del Proyecto:</label>
                        <input type="text"  class="form-control" placeholder="Máximo"  aria-label="Máximo" aria-describedby="basic-addon1" value="@NombreProyecto" disabled>
                    </div>
                    <div class="form-group ">
                        <label class="font-weight-bold" >Provincia:</label>
                        <input type="text"  class="form-control" placeholder="Máximo"  aria-label="Máximo" aria-describedby="basic-addon1" value="@Provincia" disabled>
                    </div>
                    <div class="form-group ">
                        <label class="font-weight-bold">Etapa:</label>
                        <input type="text"  class="form-control" placeholder="Máximo"  aria-label="Máximo" aria-describedby="basic-addon1" value="@Etapa" disabled>
                    </div>

                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="form-group ">
                        <label class="font-weight-bold" >Entidad Pública Contratante:</label>
                        <input type="text"  class="form-control" placeholder="Máximo"  aria-label="Máximo" aria-describedby="basic-addon1" value="@NombreContratante" disabled>
                    </div>
                    <div class="form-group ">
                        <label class="font-weight-bold" >Distrito:</label>
                        <input type="text"  class="form-control" placeholder="Máximo"  aria-label="Máximo" aria-describedby="basic-addon1" value="@Distrito" disabled>
                    </div>
                    <div class="form-group ">
                        <label class="font-weight-bold"  >Estado del proyecto:</label>
                        <input type="text"  class="form-control" placeholder="Máximo"  aria-label="Máximo" aria-describedby="basic-addon1"  value="@Estado" disabled>
                    </div>
                </div>
                <div class="col-12 text-center d-none">
                    <button type="button" class="btn btn-secondary btn-lg">Ver detalle</button>
                </div>
            </div>
        </div>

    </div>
</div>       
            `;
     
            elementos_contrato = ''
            $.each(CONTRATOS, function(k, v) {
                //console.log(CONTRATOS)
                console.log(v)
                CodigoContrato=v['CodigoContrato']
                EntidadPublica=v['EntidadPublica']
                FechaFin=v['FechaFin']
                FechaInicio=v['FechaInicio']
                FechaSuscripcion=v['FechaSuscripcion']
                MontoContrato=v['MontoContrato']
                NombreSector=v['NombreSector']
                NumeroContrato=v['NumeroContrato']
                Proveedor=v['Proveedor']
                TipoTarjeta=v['TipoTarjeta']

                elementos_contrato += contrato_template
                                        .replace(/@CodigoContrato/g, CodigoContrato)
                                        .replace(/@EntidadPublica/g, EntidadPublica)
                                        .replace(/@FechaFin/g, FechaFin)
                                        .replace(/@FechaInicio/g, FechaInicio)
                                        .replace(/@FechaSuscripcion/g, FechaSuscripcion)
                                        .replace(/@MontoContrato/g, MontoContrato)
                                        .replace(/@NombreSector/g, NombreSector)
                                        .replace(/@NumeroContrato/g, NumeroContrato)
                                        .replace(/@Proveedor/g, Proveedor)
                                        .replace(/@TipoTarjeta/g, TipoTarjeta)
            });
            elementos_proyecto = ''
            $.each(PROYECTOS, function(k, v) {
                //console.log(PROYECTOS)
                console.log(v)
                CodigoUnico=v['CodigoUnico']
                Departamento=v['Departamento']
                Distrito=v['Distrito']
                Estado=v['Estado']
                Etapa=v['Etapa']
                Funcion=v['Funcion']
                NombreContratante=v['NombreContratante']
                NombreProyecto=v['NombreProyecto']
                Provincia=v['Provincia']
                TipoTarjeta=v['TipoTarjeta']
                elementos_proyecto += proyecto_template
                                        .replace(/@CodigoUnico/g, CodigoUnico)
                                        .replace(/@Departamento/g, Departamento)
                                        .replace(/@Distrito/g, Distrito)
                                        .replace(/@Estado/g, Estado)
                                        .replace(/@Etapa/g, Etapa)
                                        .replace(/@Funcion/g, Funcion)
                                        .replace(/@NombreContratante/g, NombreContratante)
                                        .replace(/@NombreProyecto/g, NombreProyecto)
                                        .replace(/@Provincia/g, Provincia)
                                        .replace(/@TipoTarjeta/g, TipoTarjeta)

            });            
            $('#elementosbsuqueda' ).html(elementos_contrato+elementos_proyecto);
        }).fail(function(error){ 
            console.log('ERROR')      
            console.log(error)      
            alert('Error al buscar');  
            $('#elementosbsuqueda' ).html('');     
    })

    }
    


</script>
{% endblock %}