{% extends "layout2.html" %}
{% block contenidoprincipal %}
<div class="row">
    <h2 class="d-none display-12  texto-rojoraro">Contacto</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 ">
            <div class="d-flex justify-content-center align-items-center p-3 my-3 text-black bg-purple rounded shadow-sm">
                <h2 class="display-12  texto-rojoraro">Contacto</h2>
            </div>
        </div>  
        <div class="col-12">
            <div class="d-flex align-items-center p-3 my-3 text-black bg-purple rounded shadow-sm">
                <img class="me-3" src="https://pic.onlinewebfonts.com/svg/img_410975.png" alt="" width="48" height="38">
                <div class="lh-1">
                  <h1 class="h6 mb-0 text-black lh-1">Teléfono</h1>
                  <small>  +51 9999998</small>
                </div>
            </div>
        </div>       
        <div class="col 12">
            <div class="d-flex align-items-center p-3 my-3 text-black bg-purple rounded shadow-sm">
                <img class="me-3" src="https://d338t8kmirgyke.cloudfront.net/icons/icon_pngs/000/007/873/original/email.png" alt="" width="48" height="38">
                <div class="lh-1">
                  <h1 class="h6 mb-0 text-black lh-1"> Correo </h1>
                  <small>  desarrollo.pruebas@pruebas.com.pe</small>
                </div>
            </div>
        </div>
        
    </div>
   
    
</div>

{% endblock %}
{% block contenidosecundario %}
{% endblock %}