{% extends "layout2.html" %}
{% block contenidoprincipal %}
<div class="row">
    <h2 class="d-none display-12  texto-rojoraro">Contacto</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 ">
            <div class="d-flex justify-content-center align-items-center p-3 my-3 text-black bg-purple rounded shadow-sm">
                <h2 class="display-12  texto-rojoraro">Dashboard</h2>
            </div>
        </div>          
        
    </div>
   
    
</div>

{% endblock %}
{% block contenidosecundario %}
{% endblock %}