{% extends "layout.html" %}
{% block title%} 
    {{super()}}
    Index
{% endblock %}
{% block styles %}    
    <link rel="stylesheet" href="#">
    <style>
        .optionsnavbar:hover {
        border-color: #f5f5f5;
        border-radius: 2px;
        border-width: 1px;
        border-style: solid;
        background-color: #f5f5f5;        
    }

    .optionsnavbar {
        border-color: #555;
        border-radius: 2px;
        border-width: 1px;
        border-style: solid;
        color: white;
        background-color: gray;
    }
    </style>
{% endblock %}
{% block navbar %}
<nav class="main-header navbar navbar-expand-md navbar-light bg-y ">
    <div class="container">
        <a href="#" class="navbar-brand text-colory">
            <i class="fas fa-home text-colory"></i>
            <span class="brand-text font-weight-light text-colory font-weight-bold">LOGO</span>
        </a>
        <a href="#" class="navbar-brand text-colory">
            <i class="fas fa-homeS text-colory"></i>
            <span class="brand-text font-weight-light text-colory font-weight-bold">Creación de activos digitales<br> en la realidad virtual</span>
        </a>
        <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            <li class="nav-item">                
                <a class="nav-link text-colory" href="#" role="button">
                     <i class="fa fa-user-alts fa-lg text-colory">Nosotros</i>                       
                </a>
            </li> 
            <li class="nav-item">                                
                <a class="nav-link text-colory" href="#" role="button">
                     <i class="fas fa-sign-outs-alt fa-lg text-colory">Contactos</i>
                </a>
            </li>            
        </ul>
    </div>
</nav>
{% endblock %}
{% block maincontent %}
<div class="content-wrapper bg-portal py-3 centrar-vertical ">
    <!-- Main content -->
    <div class="content ">
        <div class="container ">
            <div class="row principal-login">                                
                <!-- /.col-md-6 -->
                <div class="col-lg-12 ">                    
                    <div class="row">
                        <div class="border border-dark col-12 col-md-4 d-flex justify-content-center align-items-center optionsnavbar"><a href="" class="pt-1"><h2>BUSCADOR</h2></a></div>
                        <div class="border border-dark col-12 col-md-4 d-flex justify-content-center align-items-center"><a href="" class=""><h2>DASHBOARD</h2></a></div>
                        <div class="border border-dark col-12 col-md-4 d-flex justify-content-center align-items-center"><a href="" class=""><h2>PROVEEDORES</h2></a></div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row border border-dark">

                    </div>

                </div>
            </div>
            <div class="row d-none">
                <div class="col-lg 12">
                    <hr class="divisor">
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<div class="content-wrapper bg-custombluedark py-3 centrar-vertical">
    <!-- Main content -->
    <div class="content ">
        <div class="container ">
            <div class="row"></div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<footer class="main-footer bg-customblue ">
    <!-- Default to the left -->
    <strong>Copyright &copy; 2022. Todos los derechos reservados al <a href="#"
            class="text-customcolor">PROYECTO</a>.
    </strong>
</footer>
{% endblock %}
{% block scripts %}
<script>
    $(window).on('beforeunload', function () { $(window).scrollTop(0); });
</script>
{% endblock %}