{% extends "layout2.html" %}
{% block contenidoprincipal %}

<div class="container">
    <div class="row">           
        <div class="p-4 p-md-12  rounded">
            <div class="col-md-12 px-0">
                <h4 class="display-12  texto-rojoraro">Posibles actos de Corrupción en las contrataciones con el Estado Peruano </h4>
                <p class="lead my-3 mx-4">Este es un proyecto desarrollado por profesionales expertos en Tecnologias de la Información y Gestión Pública, desde una perspectiva más ciudadana entonces contribuyendo a la sociedad y despues de haber adquirido conocimiento en nuestras universidades y experiencias profesionales es que nosotros hemos tomado la decisión de realizar este proyecto.</p>
                <h4 class="display-12  texto-rojoraro">Descripción</h4>
                <p class="lead my-3 mx-4">Nuestro proyecto consiste en analizar a los Contratos entre los Proveedores del Estado y las Entidades Públicas, se ha recabado toda la información al respecto, desde Datos Abiertos de Ministerio de Economía, hasta realizar Webscraping a La Contraloría General de la República, SUNAT, OSCE y otros.  </p>
            </div>
        </div>     
        
    </div>
           
</div>
<br><br><br><br><br><br><br><br><br><br>


{% endblock %}
{% block contenidosecundario %}
{% endblock %}

